NEXT_PUBLIC_API_URL=your-api-url

NEXT_PUBLIC_GOOGLE_AUTHORIZED_REDIRECT_URI=your-redirect-uri

NEXT_PUBLIC_GOOGLE_CLIENT_ID=your-google-client-id

NEXT_PUBLIC_FACEBOOK_CLIENT_ID=your-facebook-client-id

NEXT_PUBLIC_APP_NAME=your-app-name

FACEBOOK_CLIENT_SECRET=your-key-secret

REDIRECT_URI=your-redirect-uri

NEXT_PUBLIC_GOOGLE_CLIENT_SECRET=your-key-secret
